NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
BETSLIP_PRO_BOOTSTRAP_ADMIN_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SELCOM_LIPA_NUMBER=70062404
NEXT_PUBLIC_SELCOM_MERCHANT_NAME=SALTEC SOLUTIONS
